.page {
  background: #2A2C2F;
  color: #FFFFFF;
  min-width: 613px;
  font-family: 'Inter';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 425px) {
  .page {
    min-width: 288px;
  }
}




