.places {
  list-style: none;
  margin: 0 auto;
  display: grid;
  gap: 80px;
  padding: 0 calc(100%*48/1024);
}

@media screen and (max-width: 768px) {
  .places {
    gap: 73px;
    padding: 0 calc(100%*24/768);
  }
}

@media screen and (max-width: 425px) {
  .places {
    gap: 50px;
    padding: 0 calc(100%*16/320);
  }
}


@media screen and (min-width: 1280px) {
  .places {
    padding: 0 calc(100%*148/1280);
  }
}
