.intro__list {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  margin: 33px 0 0;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro__list {
    margin: 33px 0 0;
  }
}

