.header__logo {
  width: 176px; /*для экранов 768px и более*/
  height: 52px;
}

@media screen and (max-width: 768px) {
  .header__logo {
      width: calc(142px + (100vw - 320px)*(176 - 142)/(768 - 320)); /*переход от 142px к 176px*/
      height: calc(42px + (100vw - 320px)*(52 - 42)/(768 - 320));  /*переход от 42px к 52px*/
  }
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}


