.content {
  display: grid;
  gap: 92px;
  padding-top: 48px;
  width: 100%;
}

@media screen and (max-width: 768px){
  .content {
    gap: 88px;
  }
}

@media screen and (max-width: 425px) {
  .content {
    gap: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    padding-top: 56px;
  }
}
