.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04;
  text-align: center;
  max-width: 720px;
  width: 93.75vw;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  /* стили для смартфона */
  .lead__title {
    width: 90vw;
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  /* стили для смартфона */
  .lead__title {
    font-size: calc(2.5rem + (100vw - 320px)*0.125);
    line-height: 1.1;
  }
}
