.intro {
  padding-left: 48px;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
}

@media screen and (max-width: 768px) {
  .intro {
    padding-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    padding-left: 148px;
  }
}
