.intro {
  padding: 0 calc(100%*286/1024) 0 calc(100%*48/1024);
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 calc(100%*24/768) 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 0 calc(100%*16/320) 0;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    padding: 0 442px 0 148px;
    margin: 0 auto;
    max-width: 690px;
  }
}
