.lead__caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0;
}

@media screen and (max-width: 320px) {
  /* стили для смартфона */
  .lead__caption {
    margin-left: 16px;
  }
}

@media screen and (max-width: 768px) {
  /* стили для смартфона */
  .lead__caption {
    margin-left: 24px;
  }
}
