.cover__title {
  margin: 0 auto;
  width: calc(100%*288/320);
  max-width: 560px;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.06;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc(32px + (100vw - 425px)*(72 - 32)/(768 - 425));
    line-height: calc(35px + (100vw - 425px)*(76 - 35)/(768 - 425));
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 2rem;
    line-height: 1.09;
  }
}
