.lead__container {
  margin-top: 56px;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .lead__container {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  /* стили для смартфона */
  .lead__container {
    margin-top: 64px;
  }
}
