.lead__container {
  margin: 56px auto 0;
  width: 100%;
  max-width: 928px;
}

@media screen and (max-width: 320px) {
  .lead__container {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  /* стили для смартфона */
  .lead__container {
    margin-top: 64px;
    max-width: 984px;
  }
}
