.place {
  display: grid;
  grid-template-columns: calc(440px + (100% - 928px)*(460 - 440)/(984 - 928))
  minmax(min-content, max-content); /*для экрана от 1024px до 1280px*/
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
  "title website"
  "image description";
  row-gap: 48px;
  column-gap: 32px;
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px  minmax(min-content, max-content);
    column-gap: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    /*переход*/
    grid-template-columns: calc(100%*440/928) minmax(min-content, max-content);
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: calc(100%*340/720)  minmax(min-content, max-content);
    column-gap: 28px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: initial;
    grid-template-rows: initial;
    grid-template-areas:
    "title"
    "website"
    "image"
    "description";
    gap: 32px;
  }
}
