.place__url-heading {
  color: #AAAAAA;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.7;
  letter-spacing: 0.125rem;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 1;
  }
}
