.header__lang-links {
  list-style: none;
  padding: 0;
  margin: 18px 0 0; /*для экранов 768px и более*/
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin-top: 14px;
  }
}
